/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
}

.bg-ung-blue {
    background-color: #450000 !important; 
}




xt-ung-yellow {
    color: #ffc107 
}

.hero-section {
    background: url('../img/ung.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 50, 0.8);
}

.hero-content {
    z-index: 10;
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(2px);
    text-align: center;
}

.animate-fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.quiz-modal .modal-content {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.quiz-modal .btn-answer {
    width: 100%;
    margin-bottom: 1rem;
    transition: transform 0.2s;
}
.quiz-modal .btn-answer:hover {
    transform: translateY(-3px);
}

/* Pakar Sidebar */
.sidebar {
    position: fixed; top: 0; bottom: 0; left: 0; z-index: 1000; padding-top: 56px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); background-color: #ffffff;
}
.nav-link.active {
    background-color: #e9ecef;
    color: #007bff !important;
    border-left: 3px solid #007bff;
}

main { padding-top: 60px; }